.box {
    width: 350px;
    padding: 30px;
    margin: 50px;
    box-shadow: 0 5px 15px #cbcbcb;
    border-radius: 10px;
}

.title {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #46412f;
}

.list {
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 10px 0;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 7px #cbcbcb;
    color: #46412f;
}

.label {
    position: relative;
    padding-right: 25px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

input[type=checkbox]:checked + .checkboxSpan::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    top: -7px;
    left: 3px;
    background-color: #FFB300;
    border-radius: 2px;
}

.checkboxSpan:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 2px solid #ffb301;
    border-radius: 5px;
}

.productSubTitle {
    font-size: 14px;
    color: #a57c1c;
    font-weight: 200;
    padding-left: 10px;
}

.container {
    padding: 15px 0 10px;
}

.addProduct {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 20px;
}

.selectProduct {
    border: 1px solid #ffb301;
    border-radius: 3px;
    padding: 5px;
    color: #46412f;
}

.inputTitle {
    padding: 5px 5px 5px 10px;
    background-color: #faf0d4;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.inputTitle::placeholder {
    color: #5c4835;
}

.button {
    display: block;
    font-family: 'Poppins', sans-serif;
    background-color: #FFB300;
    color: #ffffff;
    border: none;
}

.button:hover {
    background-color: #EB5050;
}

.buttonSmall {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: auto;
}

.buttonBig {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    text-transform: uppercase;
}

.selectContainer {
    display: flex;
    gap: 20px;
    padding-top: 10px;
}